USE [master]
GO
/****** Object:  Database [CatmosphereCafeBase]    Script Date: 26.05.2025 12:20:17 ******/
CREATE DATABASE [CatmosphereCafeBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CatmosphereCafeBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CatmosphereCafeBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CatmosphereCafeBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CatmosphereCafeBase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CatmosphereCafeBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CatmosphereCafeBase]
GO
/****** Object:  Table [dbo].[Cats]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cats](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Age] [nvarchar](20) NOT NULL,
	[Breed] [nvarchar](100) NULL,
	[Personality] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IsNeutered] [nvarchar](20) NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishDetails]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishDetails](
	[VariantID] [int] IDENTITY(1,1) NOT NULL,
	[DishID] [int] NOT NULL,
	[Volume] [nvarchar](20) NULL,
	[Price] [decimal](6, 2) NOT NULL,
	[Nutrition] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishMenu]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishMenu](
	[DishID] [int] IDENTITY(1,1) NOT NULL,
	[SectionID] [int] NOT NULL,
	[DishName] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishTag]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishTag](
	[DishID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DishID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategory]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuSection]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuSection](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [char](11) NOT NULL,
	[MenuPositionID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerUnit] [decimal](10, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[PricePerUnit]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderCode] [char](11) NOT NULL,
	[UserEmail] [nvarchar](255) NOT NULL,
	[DeliveryStreet] [nvarchar](100) NULL,
	[DeliveryBuilding] [nvarchar](10) NULL,
	[DeliveryApartment] [nvarchar](10) NULL,
	[DeliveryFloor] [nvarchar](10) NULL,
	[DishStatus] [nvarchar](20) NULL,
	[OrderDate] [datetime] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[Bonuses] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Rating] [decimal](2, 1) NOT NULL,
	[ReviewText] [nvarchar](500) NULL,
	[ReviewDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.05.2025 12:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[BonusPercent] [int] NULL,
	[Street] [nvarchar](100) NULL,
	[Building] [nvarchar](10) NULL,
	[Apartment] [nvarchar](10) NULL,
	[Floor] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cats] ON 

SET IDENTITY_INSERT [dbo].[Cats] OFF
GO
SET IDENTITY_INSERT [dbo].[DishDetails] ON 

INSERT [dbo].[DishDetails] ([VariantID], [DishID], [Volume], [Price], [Nutrition]) VALUES (1, 1, N'30 мл', CAST(35.00 AS Decimal(6, 2)), N'2 ккал')
INSERT [dbo].[DishDetails] ([VariantID], [DishID], [Volume], [Price], [Nutrition]) VALUES (2, 2, N'150 мл', CAST(40.00 AS Decimal(6, 2)), N'5 ккал')
INSERT [dbo].[DishDetails] ([VariantID], [DishID], [Volume], [Price], [Nutrition]) VALUES (3, 3, N'150 мл', CAST(45.00 AS Decimal(6, 2)), N'20 ккал')
GO
SET IDENTITY_INSERT [dbo].[DishDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[DishMenu] ON 

INSERT [dbo].[DishMenu] ([DishID], [SectionID], [DishName], [Image]) VALUES (1, 2, N'Еспрессо', N'C:\Users\Jenny\Pictures\CatmosphereCafe\coffee\espresso.jpg')
INSERT [dbo].[DishMenu] ([DishID], [SectionID], [DishName], [Image]) VALUES (2, 2, N'Американо', N'C:\Users\Jenny\Pictures\CatmosphereCafe\coffee\americano.jpg')
INSERT [dbo].[DishMenu] ([DishID], [SectionID], [DishName], [Image]) VALUES (3, 2, N'Американо з молоком', N'C:\Users\Jenny\Pictures\CatmosphereCafe\coffee\americano_milk.jpg')
SET IDENTITY_INSERT [dbo].[DishMenu] OFF
GO
INSERT [dbo].[DishTag] ([DishID], [TagID]) VALUES (1, 2)
INSERT [dbo].[DishTag] ([DishID], [TagID]) VALUES (1, 3)
INSERT [dbo].[DishTag] ([DishID], [TagID]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[MenuCategory] ON 

INSERT [dbo].[MenuCategory] ([CategoryID], [CategoryName]) VALUES (1, N'Бар')
INSERT [dbo].[MenuCategory] ([CategoryID], [CategoryName]) VALUES (2, N'Страви')
SET IDENTITY_INSERT [dbo].[MenuCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuSection] ON 

INSERT [dbo].[MenuSection] ([SectionID], [SectionName], [CategoryID]) VALUES (2, N'Кава', 1)
INSERT [dbo].[MenuSection] ([SectionID], [SectionName], [CategoryID]) VALUES (3, N'Чай', 1)
INSERT [dbo].[MenuSection] ([SectionID], [SectionName], [CategoryID]) VALUES (4, N'Шоколад', 1)
SET IDENTITY_INSERT [dbo].[MenuSection] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderCode], [MenuPositionID], [Quantity], [PricePerUnit]) VALUES (1, N'A1B2C3D4E5F', 1, 1, CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderCode], [MenuPositionID], [Quantity], [PricePerUnit]) VALUES (2, N'A1B2C3D4E5F', 54, 2, CAST(220.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderCode], [MenuPositionID], [Quantity], [PricePerUnit]) VALUES (4, N'Z9X8C7V6B5N', 12, 1, CAST(85.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
INSERT [dbo].[Orders] ([OrderCode], [UserEmail], [DeliveryStreet], [DeliveryBuilding], [DeliveryApartment], [DeliveryFloor], [DishStatus], [OrderDate], [TotalPrice], [Bonuses]) VALUES (N'A1B2C3D4E5F', N'catlover92@gmail.com', N'вул. Пушкіна', N'12A', N'15', N'3', N'Виконано', CAST(N'2024-09-07T13:45:00.000' AS DateTime), CAST(475.00 AS Decimal(10, 2)), 47)
INSERT [dbo].[Orders] ([OrderCode], [UserEmail], [DeliveryStreet], [DeliveryBuilding], [DeliveryApartment], [DeliveryFloor], [DishStatus], [OrderDate], [TotalPrice], [Bonuses]) VALUES (N'K9M8N7B6X5Z', N'kate.purrfect@ukr.net', N'вул. Шевченка', N'7', N'8', N'2', N'Виконано', CAST(N'2025-04-15T17:53:00.000' AS DateTime), CAST(160.00 AS Decimal(10, 2)), 16)
INSERT [dbo].[Orders] ([OrderCode], [UserEmail], [DeliveryStreet], [DeliveryBuilding], [DeliveryApartment], [DeliveryFloor], [DishStatus], [OrderDate], [TotalPrice], [Bonuses]) VALUES (N'L4P5O6I7U8Y', N'marina.meow@gmail.com', N'вул. Січових Стрільців', N'18Б', N'21', N'4', N'У процесі', CAST(N'2025-05-04T21:44:00.000' AS DateTime), CAST(60.00 AS Decimal(10, 2)), 6)
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [Username], [Rating], [ReviewText], [ReviewDate]) VALUES (1, N'catLover_92', CAST(4.5 AS Decimal(2, 1)), N'Все дуже сподобалось! Затишне місце та смачний капучино.', CAST(N'2025-05-06' AS Date))
INSERT [dbo].[Reviews] ([ReviewID], [Username], [Rating], [ReviewText], [ReviewDate]) VALUES (2, N'purrfectKate', CAST(5.0 AS Decimal(2, 1)), N'Ідеально! Коти милі, напої на висоті. Буду повертатись.', CAST(N'2025-05-06' AS Date))
INSERT [dbo].[Reviews] ([ReviewID], [Username], [Rating], [ReviewText], [ReviewDate]) VALUES (3, N'whiskersMax', CAST(3.0 AS Decimal(2, 1)), N'Нормально, але було шумно і довго чекали замовлення.', CAST(N'2025-05-06' AS Date))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (1, N'Гостре')
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (2, N'Вегетаріанське')
INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (3, N'Веганське')
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [FirstName], [Gender], [BirthDate], [PhoneNumber], [BonusPercent], [Street], [Building], [Apartment], [Floor]) VALUES (1, N'Jenny_th', N'jenya.th2004@gmail.com', N'Євгенія', N'Жіноча', CAST(N'2004-06-29' AS Date), N'+380684163961', 285, N'вул. Якась', N'111', N'11', N'1')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [FirstName], [Gender], [BirthDate], [PhoneNumber], [BonusPercent], [Street], [Building], [Apartment], [Floor]) VALUES (2, N'catLover_92', N'catlover92@gmail.com', N'Олександр

', N'Чоловіча', CAST(N'1992-04-17' AS Date), N'+380671234567', 80, N'вул. Пушкіна', N'12A', N'15', N'3')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [FirstName], [Gender], [BirthDate], [PhoneNumber], [BonusPercent], [Street], [Building], [Apartment], [Floor]) VALUES (3, N'purrfectKate', N'kate.purrfect@ukr.net', N'Катерина', N'Жіноча', CAST(N'1996-08-25' AS Date), N'+380931112233', 120, N'вул. Шевченка', N'7', N'8', N'2')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4170FDE06]    Script Date: 26.05.2025 12:20:17 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534553068D1]    Script Date: 26.05.2025 12:20:17 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [BonusPercent]
GO
ALTER TABLE [dbo].[DishMenu]  WITH CHECK ADD  CONSTRAINT [FK_DishMenu_MenuSection] FOREIGN KEY([SectionID])
REFERENCES [dbo].[MenuSection] ([SectionID])
GO
ALTER TABLE [dbo].[DishMenu] CHECK CONSTRAINT [FK_DishMenu_MenuSection]
GO
ALTER TABLE [dbo].[DishTag]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[DishTag]  WITH CHECK ADD  CONSTRAINT [FK_DishTag_DishMenu] FOREIGN KEY([DishID])
REFERENCES [dbo].[DishMenu] ([DishID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DishTag] CHECK CONSTRAINT [FK_DishTag_DishMenu]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderCode])
REFERENCES [dbo].[Orders] ([OrderCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserEmail])
REFERENCES [dbo].[Users] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_User] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_User]
GO
ALTER TABLE [dbo].[Cats]  WITH CHECK ADD CHECK  (([Gender]=N'Дівчинка' OR [Gender]=N'Хлопчик'))
GO
ALTER TABLE [dbo].[Cats]  WITH CHECK ADD CHECK  (([IsNeutered]=N'Не стерилізована' OR [IsNeutered]=N'Не кастрован' OR [IsNeutered]=N'Стерилізована' OR [IsNeutered]=N'Кастрован'))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK__Orders__DishStat__5AB9788F] CHECK  (([DishStatus]=N'У процесі' OR [DishStatus]=N'Скасовано' OR [DishStatus]=N'Виконано' OR [DishStatus]=N'Прямує до вас' OR [DishStatus]=N'Очікує на підтвердження'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK__Orders__DishStat__5AB9788F]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]=(5.0) OR [Rating]=(4.5) OR [Rating]=(4.0) OR [Rating]=(3.5) OR [Rating]=(3.0) OR [Rating]=(2.5) OR [Rating]=(2.0) OR [Rating]=(1.5) OR [Rating]=(1.0) OR [Rating]=(0.5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([BonusPercent]>=(0) AND [BonusPercent]<=(1000)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Email] like '_%@_%._%'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]=N'Інше' OR [Gender]=N'Жіноча' OR [Gender]=N'Чоловіча'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([PhoneNumber] like '+380_________'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Username] like '%[^А-Яа-яҐґЄєІіЇї ]%' AND NOT [Username] like '%[^a-zA-Z0-9@._-]%'))
GO
USE [master]
GO
